.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-around;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    z-index: 999;
    background-color: #100d2e80;
}

.logo {
    color: #FFFFFF;
    margin-top: 0;
}