.cell {
    width: 90vw;
    height: 90vw;
    max-width: 750px;
    max-height: 750px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #423c9a20;
    margin: 5%;
    border-radius: 10%;
    overflow: auto;
}

.image {
    max-width: 90%;
    min-height: 40%;
    margin-top: 5%;
}

.name {
    font-size: 36px;
    text-align: center;
}

.description {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.link {
    font-size: 16px;
    margin-bottom: 5%;
}

.cell::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.cell::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #100D2E;
}

.cell::-webkit-scrollbar-track:hover {
  background-color: #1D1753;
}

.cell::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4468A6;
}

.cell::-webkit-scrollbar-thumb:hover {
  background-color: #4E78BF;
}