.cell {
    width: 750px;
    height: 750px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #423c9a20;
    margin: 5%;
    border-radius: 10%;
    overflow: auto;
}

.image {
    max-width: 90%;
    min-height: 40%;
    margin-top: 5%;
}

.name {
    font-size: 36px;
}

.description {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.link {
    font-size: 16px;
    margin-bottom: 5%;
}